.bg-light {
    background-color: #9da1a2 !important;
    height: 3em;
  }
  
  .Brand {
    position: absolute;
  }
  
  .Navbar {
    height: 30em;
  }

  d-inline-block{
   position: relative;   
  }